body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Основной контент */
.content {
    margin-top: 100px; /* Отступ сверху, чтобы текст не заезжал под заголовок */
    margin-left: 70px; /* Отступ слева, чтобы текст не заезжал под сайдбар */
    padding: 10px;
    transition: margin-left 0.3s; /* Плавное изменение отступа */
}


/* Стиль для плашек групп*/
.group-container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение кнопок */
    width: 100%; /* Контейнер занимает всю ширину */ 
}

.group-element {
    width: 75%; /* Кнопки занимают 75% ширины контейнера */
    height: 30px;
    padding: 15px;
    line-height: 30px;
    align-items: center;
    font-size: 16px;
    color: #333; /* Цвет текста */
    background-color: #f8f8f8; /* Светло-серый фон (почти белый) */
    border: 2px solid #ccc; /* Серая рамка */
    border-radius: 15px; /* Закругленные углы */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Плавный переход при наведении */
    text-align: left;
    margin-bottom: 15px; /* Отступ между кнопками */
    margin-left: 20px; /* Отступ от левого края */
    text-decoration: none;
}

.group-element:hover {
    background-color: #e0e0e0; /* Фон становится темнее при наведении */
    color: #000; /* Текст становится темнее */
}

/* Карточки задач */
.tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.task-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); /* Тень сверху */
    padding: 20px;
}

.task-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.task-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.task-info {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}

/* Кнопка "Отметить как выполненно" */
.complete-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Убирает подчеркивание */
    margin-top: 15px; /* Отступ сверху */
    display: inline-block; /* Убедитесь, что элемент ведет себя как блочный */
}

.task-card a {
	margin-right: 10px;
}

.complete-button:hover {
    background-color: #218838;
}

.create-group {
    background-color: #28a745;
    color: white;
    border: none;

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px; /* Отступ снизу */
    width: 150px; /* Фиксированная ширина кнопки */
    height: 50px; /* Фиксированная высота кнопки */
    display: flex; /* Используем flex для выравнивания содержимого */
    justify-content: center; /* Горизонтальное выравнивание текста по центру */
    align-items: center; /* Вертикальное выравнивание текста по центру */
    align-self: flex-end; /* Выровнять кнопку по правому краю */
    margin-right: 20vw; /* Отступ справа 25% от ширины экрана */
}

.create-group:hover {
    background-color: #218838;
}

.create-group-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Убирает подчеркивание */
    margin-top: 15px; /* Отступ сверху */
    display: inline-block; /* Убедитесь, что элемент ведет себя как блочный */
}

.create-group-button:hover {
    background-color: #218838;
}

.delete-group{
   background-color: #ff0000d7;
     padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 150px; /* Ограничиваем максимальную ширину кнопки */
    text-decoration: none; /* Убирает подчеркивание */
}

.manage-users{
    background-color: #357ae8;
      padding: 10px 20px;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     max-width: 150px; /* Ограничиваем максимальную ширину кнопки */
     text-decoration: none; /* Убирает подчеркивание */
 }

.user-item{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); /* Тень сверху */
    padding: 20px;
    margin-top: 15px; /* Отступ сверху */
    justify-content: space-between; /* Разделить текст и кнопку на разные края */
    display: flex;
}

.delete-user{
    background-color: #ff0000d7;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    height: 20px;
    cursor: pointer;
    max-width: 150px; /* Ограничиваем максимальную ширину кнопки */
    text-decoration: none; /* Убирает подчеркивание */

}

.delete-task{
    background-color: #ff0000d7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Убирает подчеркивание */
    margin-top: 15px; /* Отступ сверху */
    display: inline-block; /* Убедитесь, что элемент ведет себя как блочный */
}

.update-task{
    background-color: #357ae8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Убирает подчеркивание */
    margin-top: 15px; /* Отступ сверху */
    display: inline-block; /* Убедитесь, что элемент ведет себя как блочный */
}

