<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoFam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>

<body>
    <!-- Основной контент -->
     
    <div class="content" id="content">
        <h1>Your groups</h1>
        <div class="group-container">
            <a type="button" class="create-group" id="openModal">Create group</a>
            {% for groupName in groupNames %}
                <a type="button" class="group-element" href="{{ url_for('main.selectGroup', groupName=groupName) }}">{{ groupName }}</a>
            {% endfor %}
        </div>
    </div>
     


    <!-- Сайдбар -->
     {%include 'sidebar.html'%}
     {%include 'create-group-modal.html'%}


</body>
</html>
