<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoFam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/head-container.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <script src="{{ url_for('static', filename='js/onClose.js') }}"></script>
</head>

<body>

    <!-- Main container -->
    <div class="content" id="content">
        <!-- Head container -->
        <div class="head-container" >
            <h1 class="group-name">Your groups</h1> 
            <div class="button-container">
                <a type="button" class="create-group" id="openModal">Create group</a>
            </div>
        </div>
        <!-- search group -->
        <div class="search-container" style="bottom: 20px;">
            <div class="search-box">
                <input id="input-search" type="text" name="group_name" placeholder="Search...">
                <button onclick="helper()">Search</button> 
            </div>
        </div>
        <div class="group-container"  id="group-container">
        </div>
    </div>
     


    <!-- Сайдбар -->
     {%include 'sidebar.html'%}
     {%include 'create-group-modal.html'%}


</body>

<script>
    let cont = document.getElementById('group-container')
    let searchButton = document.getElementsByClassName('search-box')[1]
    let searchInput = document.getElementById('input-search')

    fetch('/groups/elements')
    .then(r => r.json())
    .then(data =>
        data.forEach(d => {
            var e = document.createElement('a')
            e.text = d.name
            e.classList.add('group-element')
            
            e.href = '/group/'+encodeURIComponent(d.name)+'?id='+encodeURIComponent(d.id)
            cont.appendChild(e)
        }
        )
    )

                     
    function helper() {
        var text = searchInput.value
        cont.innerHTML = ''
        if (text.trim().length != 0){
            fetch('/groups/search/?group_name='+text)
            .then(r => r.json())
            .then(data => 
                data.forEach(d => {
                    var e = document.createElement('a')
                    e.text = d.name
                    e.classList.add('group-element')
                    
                    e.href = '/group/'+encodeURIComponent(d.name)+'?id='+encodeURIComponent(d.id)
                    cont.appendChild(e)
                })
            )  
        }
        else{
            fetch('/groups/elements')
            .then(r => r.json())
            .then(data =>
                data.forEach(d => {
                    var e = document.createElement('a')
                    e.text = d.name
                    e.classList.add('group-element')
                    
                    e.href = '/group/'+encodeURIComponent(d.name)+'?id='+encodeURIComponent(d.id)
                    cont.appendChild(e)
                }
                )
            )
        }
 
    }  
    
</script>
</html>
