<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoFam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}">
</head>

<body>
    <!-- Основной контент -->

    <div class="content" id="content">
        <h1>Your groups</h1>
        <div class="group-container"  id="group-container">
            <a type="button" class="create-group" id="openModal">Create group</a>
            <!-- {% for group in groups %}
                
                <a type="button" class="group-element" href="">{{group.name}}</a>
            {% endfor %} -->
        </div>
    </div>
     


    <!-- Сайдбар -->
     {%include 'sidebar.html'%}
     {%include 'create-group-modal.html'%}


</body>

<script>
    let cont = document.getElementById('group-container')
    fetch('/groups/elements')
        .then(r => r.json())
        .then(data =>
            data.forEach(d => {
                var e = document.createElement('a')
                e.text = d.name
                e.classList.add('group-element')
                
                e.href = '/group/'+encodeURIComponent(d.name)+'?id='+encodeURIComponent(d.id)+'&admin='+encodeURIComponent(d.admin)
                cont.appendChild(e)
            }
            )
        )

</script>
</html>
