<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoFam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main-style.css') }}">
</head>

<body>
    <!-- Основной контент -->
    <div class="content" id="content">
        <h1>Welcome to ToDoFam</h1>
        <p>Это главная страница с содержимым. Здесь может быть текст, изображения, видео и другой контент.</p>
    </div>

    <!-- Сайдбар -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-tile" onclick="toggleSidebar()">
            <img src="{{ url_for('static', filename='hamburger-icon.png') }}" alt="Иконка меню">
            <span><p href="page1.html">Menu</p></span>
        </div>

        <div class="sidebar-tile" onclick="location.href='page23.html';">
            <img src="{{ url_for('static', filename='loop.png') }}" alt="Иконка поиск">
            <span><p href="page2.html">Search</p></span>
        </div>
    </div>

    <script>
        // TODO Добавить в отдельный файл
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            var content = document.getElementById("content");

            sidebar.classList.toggle("expanded");

            // Сдвигаем контент вправо, если сайдбар открыт
            if (sidebar.classList.contains("expanded")) {
                content.style.marginLeft = "250px";
            } else {
                content.style.marginLeft = "60px"; // Возвращаем в исходное положение
            }
        }
    </script>

</body>
</html>
