<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoFam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}">
    <script src="{{ url_for('static', filename='js/onClose.js') }}"></script>
</head>

<body>
    <!-- Основной контент -->
    <div class="content" id="content">
        <h1>Welcome to ToDoFam</h1>
        <p>Это главная страница с содержимым. Здесь может быть текст, изображения, видео и другой контент.</p>
    </div>

    <!-- Сайдбар -->
     {%include 'sidebar.html'%}

</body>

<script>
    window.addEventListener('beforeunload', function (event) {fetch('/exit')})
</script>
</html>
