<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoFam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in-up.css') }}">
</head>

<body>
    <div class="container">
        <form class="login-form" method="post" action="/signin/validate">
            <h1>Sign in</h1>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required value="{{username if username}}">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required value="{{password if password}}">
            </div>
            {% if error_message %}
            <div style="color: red;">{{ error_message }}</div>
            {% endif %}
            <button type="submit" class="submit-button">Sign in</button>
            <div class="alternative">
                <p>Don't have an account?</p>
                <a href="/signup">Create an account</a>
                <!-- TODO Добавить гугл линк -->
                <p><a href="/auth/google" class="google-link">Sign with Google</a></p>
            </div>
        </form>
    </div>
</body>
</html>
