<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoFam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in-up.css') }}">
</head>


<body>
    <div class="container">
        <h1>Welcome to ToDoFam</h1>
        <p>Select action</p>
        <div class="button-container">
            
            <a href= "/signin" class="button">Sign in</a>
            <a href= "/signup" class="button">Sign up</a>
            <!-- TODO: ссылка на авторизацию гуглом -->
            <a href= "/signup" class="button google-button">Sign with Google</a>
        </div>
    </div>
</body>
</html>
